

.navbar {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef;
  padding: 10px 20px;

  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
   z-index: 1000;
}
.logo {
  width: auto;
  height: 80px;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

 .navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
} 

.nav-item a {
  text-decoration: none;
  color: #000;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-item a.active {
  color: #000;
}

.nav-item a:hover {
  background-color:beige;
  color: #000;
}
.button-form {
  display: flex;
  gap: 10px;
}

.button-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-form button {
  padding: 8px 12px;
  border: 1px solid #28a745;
  background: linear-gradient(to bottom right, #5DBB78, #2A9FD6, #003366);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button-form button:hover {
  background-color: #28a745;
  color: #fff;
}



.modal {
  color: #5DBB78;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  margin: 10% auto;
  width: 500px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.btn-secondary {
color:black;
}